@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  *height: 100%;
  width: 100%;
  *font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --font-family: "Montserrat", sans-serif;
  --content-width: 1270px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2) - (var(--container-offset) * 2));
  --color-white: #ffffff;
  --color-text: #19181f;
  --color-orange: #ff9400;
  --color-lightgray: #e0e5e7;
  --color-gray: #647e89;
  --color-light: #f0f0f0;
}

/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
@font-face {
  font-family: 'Montserrat';
  src: local("../fonts/MontserratItalic.woff2"), url("../fonts/MontserratItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("../fonts/MontserratSemiBold.woff2"), url("../fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("../fonts/MontserratSemiBoldItalic.woff2"), url("../fonts/MontserratSemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("../fonts/MontserratBlackItalic.woff2"), url("../fonts/MontserratBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PoiretOne';
  src: local("../fonts/PoiretOne-Regular.woff2"), url("../fonts/PoiretOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.page {
  height: 100%;
}

.page__body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: italic;
  background-color: var(--color-white);
  color: var(--color-text);
  -webkit-text-size-adjust: 100%;
  font-size: 24px;
  line-height: 24px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.to-top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: calc((100% - 1240px) / 2);
  bottom: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--color-orange);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (max-width: 1440px) {
  .to-top {
    right: 15px;
  }
}

.to-top svg {
  fill: var(--color-lightgray);
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.to-top--active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  overflow: hidden;
}

.cart {
  background-color: var(--color-light);
  padding: 50px 0;
}

.cart__title {
  font-family: "PoiretOne";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-gray);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__title::after {
  content: "";
  border-top: 1px solid var(--color-gray);
  width: 100%;
  margin-left: 60px;
}

@media (max-width: 1024px) {
  .cart__title::before {
    content: "";
    border-top: 1px solid var(--color-gray);
    width: 100%;
    margin-right: 60px;
  }
}

@media (max-width: 768px) {
  .cart__title {
    display: block;
    text-align: center;
    font-size: 40px;
  }
  .cart__title::before, .cart__title::after {
    display: none;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .content__info {
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
}

.content__title {
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  color: var(--color-orange);
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .content__title {
    font-size: 20px;
  }
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.content__list li {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .content__list li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.content__list--bottom li {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .content__list--bottom li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .content__list li:not(:last-child),
  .content__list--bottom li:not(:last-child) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.content__list li::before,
.content__list--bottom li::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  background-image: url(../img/tick.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .content__list li::before,
  .content__list--bottom li::before {
    width: 14px;
    height: 14px;
  }
}

.content__list--top li::before {
  display: none;
}

@media (max-width: 1024px) {
  .content__list--top {
    margin-bottom: 10px;
  }
}

.content__list span {
  text-transform: lowercase;
}

.content__list .item span, .content__list--bottom .item span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .content__list .item span, .content__list--bottom .item span {
    font-size: 16px;
  }
}

.content span.small {
  text-transform: lowercase;
}

@media (max-width: 1024px) {
  .content__image {
    margin-bottom: 20px;
    max-width: 300px;
  }
}

.gallery__title {
  font-family: "PoiretOne";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-gray);
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.gallery__title::before {
  content: "";
  border-top: 1px solid var(--color-gray);
  width: 100%;
  margin-right: 60px;
}

.gallery__title::after {
  content: "";
  border-top: 1px solid var(--color-gray);
  width: 100%;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .gallery__title {
    display: block;
    text-align: center;
    font-size: 25px;
  }
  .gallery__title::before, .gallery__title::after {
    display: none;
  }
}

.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

.carts__inner {
  padding: 0 20px;
  margin-bottom: 30px;
}

.carts img {
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.carts__lable {
  display: block;
  color: var(--color-gray);
  text-align: center;
}

@media (max-width: 768px) {
  .carts__lable {
    font-size: 20px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 130px;
  z-index: 5;
  background-color: rgba(99, 125, 136, 0.3);
  font-family: "PoiretOne";
  font-style: normal;
  line-height: 28px;
}

@media (max-width: 1024px) {
  .header {
    top: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 60px;
    right: 15px;
    border-radius: 50px;
    background-color: var(--color-gray);
    z-index: 10;
  }
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

@media (max-width: 1024px) {
  .header__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .header__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__item a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  z-index: 3;
}

.header__item a:hover {
  color: var(--color-white);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.burger {
  display: none;
}

.burger__overlay {
  display: none;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .header__body {
    height: 60px;
  }
  .burger {
    position: relative;
    display: block;
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 20;
  }
  .burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .burger span,
  .burger span:before,
  .burger span:after {
    right: 0;
    width: 100%;
    position: absolute;
    height: 2px;
    background: var(--color-lightgray);
    display: block;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .burger span:before {
    content: "";
    top: -10px;
    -webkit-transition: top .2s .2s, -webkit-transform .2s;
    transition: top .2s .2s, -webkit-transform .2s;
    transition: top .2s .2s, transform .2s;
    transition: top .2s .2s, transform .2s, -webkit-transform .2s;
  }
  .burger span:after {
    content: "";
    bottom: -10px;
    -webkit-transition: bottom .2s .2s, -webkit-transform .2s;
    transition: bottom .2s .2s, -webkit-transform .2s;
    transition: bottom .2s .2s, transform .2s;
    transition: bottom .2s .2s, transform .2s, -webkit-transform .2s;
  }
  .burger span.active:before {
    content: "";
    top: 0px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top .2s, -webkit-transform .2s .2s;
    transition: top .2s, -webkit-transform .2s .2s;
    transition: top .2s, transform .2s .2s;
    transition: top .2s, transform .2s .2s, -webkit-transform .2s .2s;
  }
  .burger span.active:after {
    content: "";
    bottom: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom .2s, -webkit-transform .2s .2s;
    transition: bottom .2s, -webkit-transform .2s .2s;
    transition: bottom .2s, transform .2s .2s;
    transition: bottom .2s, transform .2s .2s, -webkit-transform .2s .2s;
  }
  .burger span.active {
    background-color: transparent;
  }
  .burger__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .burger__overlay.active {
    display: block;
  }
  .header__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-gray);
    padding: 50px 10px 20px;
    -webkit-transition: right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .header__menu.active {
    right: 0;
  }
  .header__menu::-webkit-scrollbar {
    width: 0px;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: "PoiretOne";
    font-size: 30px;
  }
  .header__item {
    margin-bottom: 50px;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .header__menu {
    width: 100%;
  }
  .header__list {
    margin-top: 0;
    font-size: 40px;
  }
}

.fullscreen {
  position: relative;
  background-color: var(--color-light);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.fullscreen__image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 576px) {
  .fullscreen__image img {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.fullscreen__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  margin-top: 137px;
}

@media (max-width: 768px) {
  .fullscreen__title {
    margin-top: 60px;
  }
}

.fullscreen__title h1 {
  text-align: left;
  max-width: 500px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-gray);
  z-index: 6;
  text-shadow: 2px 2px 0 var(--color-light), 2px -2px 0 var(--color-light), -2px 2px 0 var(--color-light), -2px -2px 0 var(--color-light), 2px 0px 0 var(--color-light), 0px 2px 0 var(--color-light), -2px 0px 0 var(--color-light), 0px -2px 0 var(--color-light);
}

@media (max-width: 768px) {
  .fullscreen__title h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .fullscreen__title h1 {
    font-size: 40px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 77px;
  }
}

.info {
  width: 100%;
  background-color: var(--color-gray);
  margin-bottom: 130px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .info {
    margin-bottom: 0;
  }
}

.info__body {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-lightgray);
}

@media (max-width: 576px) {
  .info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    line-height: 1;
  }
}

.info__text {
  text-align: left;
  max-width: 100px;
}

@media (max-width: 576px) {
  .info__text {
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__item:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 576px) {
  .info__item:not(:last-child) {
    margin-right: 10px;
  }
}

.info__link svg {
  fill: var(--color-lightgray);
  width: 24px;
  height: 24px;
}

@media (max-width: 576px) {
  .info__link svg {
    width: 18px;
    height: 18px;
  }
}

.journal.cart {
  background-color: var(--color-lightgray);
}

.select__body {
  margin-bottom: 20px;
}

.select__title {
  display: inline-block;
  font-weight: 600;
  font-style: normal;
  color: var(--color-orange);
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .select__title {
    font-size: 20px;
  }
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--color-orange);
  position: relative;
  width: 50px;
  height: 50px;
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn::before, .fslightbox-slide-btn-container-previous .fslightbox-slide-btn::after,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn::before,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  left: 20px;
  background-color: var(--color-orange);
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn::before:hover, .fslightbox-slide-btn-container-previous .fslightbox-slide-btn::after:hover,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn::before:hover,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn::after:hover {
  background-color: var(--color-lightgray);
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn::before,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn::before {
  top: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn::after,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn::after {
  bottom: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn svg,
.fslightbox-slide-btn-container-next .fslightbox-slide-btn svg {
  visibility: hidden;
}

.fslightbox-slide-btn-container-previous .fslightbox-slide-btn {
  left: 30px;
}

.fslightbox-slide-btn-container-next .fslightbox-slide-btn {
  right: 30px;
}

.fslightbox-slide-btn-container-next .fslightbox-slide-btn::before, .fslightbox-slide-btn-container-next .fslightbox-slide-btn::after {
  left: 25px;
}

.fslightbox-slide-btn-container-next .fslightbox-slide-btn::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fslightbox-slide-btn-container-next .fslightbox-slide-btn::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fslightbox-svg-path {
  fill: var(--color-orange);
}

.fslightbox-nav {
  top: 30px;
}

.fslightbox-toolbar {
  background-color: transparent;
}

.fslightbox-toolbar-button {
  background-color: transparent;
  position: relative;
  width: 50px;
  height: 50px;
}

.fslightbox-toolbar-button::before, .fslightbox-toolbar-button::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: var(--color-orange);
}

.fslightbox-toolbar-button::before:hover, .fslightbox-toolbar-button::after:hover {
  background-color: var(--color-lightgray);
}

.fslightbox-toolbar-button::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.fslightbox-toolbar-button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fslightbox-toolbar-button svg {
  visibility: hidden;
}

.papka.cart {
  background-color: var(--color-lightgray);
}

.photo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .photo__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.photo__image {
  position: relative;
  max-width: 300px;
}

@media (max-width: 768px) {
  .photo__image {
    margin-bottom: 20px;
  }
}

.photo__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo__image button {
  display: inline-block;
  position: absolute;
  width: 90%;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: var(--color-white);
  background-color: rgba(255, 149, 0, 0.8);
  border-radius: 100px;
  border: 2px solid var(--color-white);
  font-size: 24px;
  line-height: 1;
  font-style: italic;
  padding: 10px 0px;
}

.descr {
  margin: 0 15px;
}

@media (max-width: 1024px) {
  .descr {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .descr {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.descr__top {
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .descr__top {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .descr__bottom {
    margin-bottom: 30px;
  }
}

.descr__item {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .descr__item {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.descr__item span {
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .descr__item span {
    font-size: 16px;
  }
}

.descr__bottom li::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  background-image: url(../img/tick.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .descr__bottom li::before {
    width: 14px;
    height: 14px;
  }
}

.descr__top {
  text-align: center;
}

.descr span.small {
  text-transform: lowercase;
}

.footer {
  height: 80px;
  background-color: var(--color-gray);
}

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-nav__btn {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  z-index: 10;
  width: 60px;
  height: 60px;
  background: var(--color-light);
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 768px) {
  .slider-nav__btn {
    width: 40px;
    height: 40px;
  }
}

.slider-nav__btn svg {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  fill: var(--color-orange);
}

@media (max-width: 768px) {
  .slider-nav__btn svg {
    width: 40px;
    height: 40px;
  }
}

.vignet__prev {
  left: 0;
}

.vignet__next {
  right: 0;
}

.portret__prev {
  left: 0;
  background: var(--color-lightgray);
}

.portret__next {
  right: 0;
  background: var(--color-lightgray);
}

@media (max-width: 1024px) {
  .select {
    margin: 0 auto;
  }
}

.select__dropdown {
  position: relative;
}

.select__btn {
  position: relative;
  display: block;
  text-align: left;
  min-width: 283px;
  padding: 6px 20px;
  background-color: rgba(255, 148, 1, 0.1);
  border: 2px solid var(--color-orange);
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  z-index: 2;
}

@media (max-width: 768px) {
  .select__btn {
    font-size: 16px;
  }
}

.select__btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 148, 1, 0.6);
          box-shadow: 0 0 2px 2px rgba(255, 148, 1, 0.6);
}

.select__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid var(--color-orange);
  pointer-events: none;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.select__btn.active::after {
  content: "";
  top: 30%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__list {
  position: absolute;
  font-size: 20px;
  top: 38px;
  left: 0;
  min-width: 283px;
  background-color: var(--color-light);
  border-top: none;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 10px rgba(100, 126, 137, 0.5);
          box-shadow: 0px 2px 10px rgba(100, 126, 137, 0.5);
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  .select__list {
    font-size: 16px;
  }
}

.select__list--visible {
  opacity: 1;
  visibility: visible;
}

.select__list-item {
  padding: 6px 20px;
  background-color: var(--color-light);
  border: 1px solid rgba(100, 126, 137, 0.3);
  cursor: pointer;
  border-top: 0;
}

.select__list-item:hover {
  background-color: var(--color-lightgray);
}

.select__list-item:last-child {
  padding-bottom: 10px;
}
