.journal.cart {
  background-color: var(--color-lightgray);
}

.select {

  &__body {
    margin: 5px 0px 25px;
  }

  &__title {
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    color: var(--color-orange);
    margin-bottom: 10px;
  }

}

.image {
  @include flex-col-center;
}


