.journal.cart {
  background-color: var(--color-lightgray);
}

.select {

  &__body {
    margin: 15px 0px;
  }

  &__title {
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    color: var(--color-orange);
    margin-bottom: 10px;
  }

}

.image {
  @include flex-col-center;
}


.gallery {

  &__title {
    font-family: "Poiret One";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: var(--color-gray);
    margin: 30px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &::before {
      content: "";
      border-top: 1px solid var(--color-gray);
      width: 100%;
      margin-right: 60px;
    }

    &::after {
      content: "";
      border-top: 1px solid var(--color-gray);
      width: 100%;
      margin-left: 60px;
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
}

.card {
  &__inner {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  img {
    max-width: 200px;
    object-fit: cover;
    margin-bottom: 15px;
  }

  &__lable {
    display: block;
    color: var(--color-gray);
  }
}