.papka {
  background-color: var(--color-lightgray);
  padding: 100px 0;

  &__title {
    font-family: "Poiret One";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--color-gray);
    margin-bottom: 65px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      border-top: 1px solid var(--color-gray);
      width: 100%;
      margin-left: 60px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.content-papka {

  &__image {
    padding-right: 20px;
  }

  &__info {
    @include flex-col-sb;
    width: 50%;
  }

  &__title {
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    color: var(--color-orange);
    margin-bottom: 25px;
  }

  &__body {
    @include flex-col-sb;
    height: 100%;
  }

  &__list li {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1;
  }

  &__list--bottom li{
    font-size: 20px;
    line-height: 1;
  }


  &__list--bottom li:not(:last-child) {
    margin-bottom: 15px;
  }

  &__list li::before,
  &__list--bottom li::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-image: url(../img/tick.svg);
    @include bg-cover;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  &__list,
  &__list--bottom {
    .item span {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 1;
    }
  }

  span.small {
    text-transform: lowercase;
  }
}

.btn {
  display: inline-block;
  width: 270px;
  height: 50px;
  border: 2px solid var(--color-light);
  border-radius: 100px;
  background-color: var(--color-orange);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-light);
  text-align: center;
}

