.photo {

  &__body {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }

  }

  &__image {
    position: relative;
    max-width: 300px;

    @include small-tablet {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    button {
      display: inline-block;
      position: absolute;
      width: 90%;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      color: var(--color-white);
      background-color: #ff9500d0;
      border-radius: 100px;
      border: 2px solid var(--color-white);
      font-size: 24px;
      line-height: 1;
      font-style: italic;
      padding: 10px 0px;
    }
  }


  &__descr {
    margin: 0 15px;

    @include tablet {
      text-align: center;
    }

    @include small-tablet {
      order: 1;
    }
  }
}

.descr {

  &__top {
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__item {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2;

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 10px;
    }

    span {
      font-weight: 600;
      text-transform: uppercase;

      @include small-tablet {
        font-size: 16px;
      }
    }
  }

  &__bottom li::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-image: url(../img/tick.svg);
    @include bg-cover;
    width: 18px;
    height: 18px;
    margin-right: 10px;

    @include small-tablet {
      width: 14px;
      height: 14px;
    }
  }

  &__top {
    text-align: center;
  }

  span.small {
    text-transform: lowercase;
  }
}