.cart {
  background-color: var(--color-light);
  padding: 50px 0;

  &__title {
    font-family: "Poiret One";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--color-gray);
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      border-top: 1px solid var(--color-gray);
      width: 100%;
      margin-left: 60px;
    }
  }
}


