.photo {

  &__body {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
   flex-direction: column;
   align-items: center;
    }

  }

  &__image {
    max-width: 300px;
  }

  &__info {
    margin: 0 15px;
@include tablet {
  text-align: center;
}
    @include small-tablet {
     order: -1;
     margin: 0px 0px 20px 0px;
     
       }
  }
}

.cart {

  &__body {}

  &__title {}
}

.carts {

  &__lable {}
}

.info {

  &__top {
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__list li {}

  &__item {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2;
    @include small-tablet {
      font-size: 16px;
      margin-bottom: 10px;
    }

    span {
      font-weight: 600;
      text-transform: uppercase;
      @include small-tablet {
        font-size: 16px;
      }
    }
  }

  &__bottom li::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    background-image: url(../img/tick.svg);
    @include bg-cover;
    width: 18px;
    height: 18px;
    margin-right: 10px;

    @include small-tablet {
      width: 14px;
      height: 14px;
    }
  }

  &__list span {
    // text-transform: lowercase;
  }

  &__top,
  &__bottom {
    .item span {
     

     
    }
  }
  span.small {
    text-transform: lowercase;
  }
}